
/* 1 REM = 10 px y ajuste para que el padding no cambie el size de los elementos */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
  /* Colores */
  --blue-sapphire: #086788ff;
  --lighten-blue-sapphire: #0b8bb8;
  --blue-green: #07a0c3ff;
  --jonquil: #f0c808ff;
  --lighten-jonquil: #f8d633;
  --papaya-whip: #fff1d0ff;
  --maximum-red: #dd1c1aff;
  --lighten-maximum-red: #e94143;
  --gris-claro: #f5f5f5;
} 

body{
  background-color: var(--gris-claro);
}

/* General */

.container{
  margin: 0 auto;
  width: 95%;
}

h1{
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  font-size: 1.2rem;
}

a{
  color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

a:visited{
  color: black;
}

input{
  font-size: 1.8rem;
  height: 4.8rem;
  border-radius: .7rem;
}

form p{
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold{
  font-weight: bold;
}

.hide{
  display: none !important;
}

.error{
  color: red;
  font-size: 3rem;
  margin: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  width: 15rem;
  height: 9rem;
  border-radius: 10px;
  cursor: pointer;
  border: .5px solid black;
}

.boton--img{
  background: transparent;
  border: none;
}

.boton-rojo{
  background-color: var(--maximum-red);
}
.boton-rojo:hover{
  background-color: var(--lighten-maximum-red);
}

.boton-azul{
  background-color: var(--blue-sapphire);
}

.boton-azul:hover{
  background-color: var(--lighten-blue-sapphire);
}
.boton-amarillo{
  background-color: var(--jonquil);
}
.boton-amarillo:hover{
  background-color: var(--lighten-jonquil);
}
/* Barra superior */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: .1px .1px 5px black;
  background-color: white;
  overflow: hidden;
}

header img{
  width: 10rem;
}

.header-element{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-img{
  cursor: pointer;
}

/* NavBar */ 

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a{
  color: var(--blue-sapphire);
  text-align: center;
  padding: 5rem 2rem 5rem 2rem;
}

nav a:visited{
  color: var(--blue-sapphire);
}

nav a:hover{
  background-color: var(--blue-sapphire);
  color: white;
}

/* Barra de busqueda */
.barra-busqueda{
  margin-left: 5rem;
}
.barra-busqueda input[type='text']{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  width: 60rem;
}
.barra-busqueda__resultados{
  position: absolute;
  width: 60rem;
  background-color: white;
  box-shadow: .001px .001px 3px black;
}
.barra-busqueda__resultados__producto{
  padding: .6rem;
  padding-left: 1rem;
  cursor: pointer;
}
.barra-busqueda__resultados__producto:hover{
  background-color: #ebebeb;
}
.barra-busqueda__resultados__producto p{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Auth */

.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth{
  text-align: center; 
  background-color: var(--blue-sapphire);
  box-shadow: 1px 1px 2px black;
  border-radius: 1rem;
  margin-top: 20rem;
}

.auth input{
  width: 80%;
}

.auth input[type='submit']{
  width: 60%;
  background-color: var(--jonquil);
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}

.auth input[type='submit']:hover{
  background-color: var(--lighten-jonquil);
}

.auth p{
  color: #FFF;
  cursor: default;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.login{
  display: flex;
  justify-content: center;
  width: 45rem;
  height: 35rem;
}

.register{
  width: 70rem;
  height: 42rem;
}

.register input[type='submit']{
  width: 30rem;
}

.register-fields{
  display: grid;
  grid-template-columns: 50% 50%;
}

#auth-options{
  text-align: center; 
}

#toggle-auth{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--maximum-red);
  color: white;
  border: none;
  box-shadow: 1px 1px 1px black;
  margin-top: 2rem;
  cursor: pointer;
}
#toggle-auth:hover{
  padding: 1.2rem 2.2rem 1.2rem 2.2rem;
  transition: padding .1s;
}

/* Perfil */

.perfil-container{
  display: flex;
  justify-content: space-evenly;
}
.perfil-layout{
  border: 1px solid black;
  background-color: white;
  margin-top: 5rem;
  width: 70rem;
  height: 40rem;
  padding: 5rem;
  float: left;
  text-align: center;
}

.perfil-layout h3{
  font-size: 3rem;
  text-decoration: underline;
}

.perfil-opciones{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.perfil-info div{
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: .1px solid grey;
  text-align: left;
}

.perfil-info p{
  font-size: 1.5rem;
}
.perfil-info img{
  width: 5rem;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  padding: .3rem;
}
.perfil-info img:hover{
  box-shadow: 1px 1px 1px black inset;
}


.perfil-layout span{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1rem;
}



