
/* 1 REM = 10 px y ajuste para que el padding no cambie el size de los elementos */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
  /* Colores */
  --blue-sapphire: #086788ff;
  --lighten-blue-sapphire: #0b8bb8;
  --blue-green: #07a0c3ff;
  --jonquil: #f0c808ff;
  --lighten-jonquil: #f8d633;
  --papaya-whip: #fff1d0ff;
  --maximum-red: #dd1c1aff;
  --lighten-maximum-red: #e94143;
  --gris-claro: #f5f5f5;
} 

body{
  background-color: var(--gris-claro);
}

/* General */

.container{
  margin: 0 auto;
  width: 95%;
}

h1{
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;
}

h2{
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  font-size: 1.2rem;
}

a{
  color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

a:visited{
  color: black;
}

input{
  font-size: 1.8rem;
  height: 4.8rem;
  border-radius: .7rem;
}

form p{
  font-size: 2rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold{
  font-weight: bold;
}

.hide{
  display: none !important;
}

.error{
  color: red;
  font-size: 3rem;
  margin: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
  list-style: none;
}


.boton{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  width: 15rem;
  height: 9rem;
  border-radius: 10px;
  cursor: pointer;
  border: .5px solid black;
  text-align: center;
  line-height: 7rem;
}


.boton--img{
  background: transparent;
  border: none;
}

.boton-rojo{
  background-color: var(--maximum-red);
}
.boton-rojo:hover{
  background-color: var(--lighten-maximum-red);
}

.boton-azul{
  background-color: var(--blue-sapphire);
}

.boton-azul:hover{
  background-color: var(--lighten-blue-sapphire);
}
.boton-amarillo{
  background-color: var(--jonquil);
}
.boton-amarillo:hover{
  background-color: var(--lighten-jonquil);
}
/* Barra superior */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: .1px .1px 5px black;
  background-color: white;
  overflow: hidden;
}

header img{
  width: 10rem;
}

.header-element{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-img{
  cursor: pointer;
}

/* NavBar */ 

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a{
  color: var(--blue-sapphire);
  text-align: center;
  padding: 5rem 2rem 5rem 2rem;
}

nav a:visited{
  color: var(--blue-sapphire);
}

nav a:hover{
  background-color: var(--blue-sapphire);
  color: white;
}

/* Barra de busqueda */
.barra-busqueda{
  margin-left: 5rem;
}
.barra-busqueda input[type='text']{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  width: 60rem;
}
.barra-busqueda__resultados{
  position: absolute;
  width: 60rem;
  background-color: white;
  box-shadow: .001px .001px 3px black;
}
.barra-busqueda__resultados__producto{
  padding: .6rem;
  padding-left: 1rem;
  cursor: pointer;
}
.barra-busqueda__resultados__producto:hover{
  background-color: #ebebeb;
}
.barra-busqueda__resultados__producto p{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Auth */

.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth{
  text-align: center; 
  background-color: var(--blue-sapphire);
  box-shadow: 1px 1px 2px black;
  border-radius: 1rem;
  margin-top: 20rem;
}

.auth input{
  width: 80%;
}

.auth input[type='submit']{
  width: 60%;
  background-color: var(--jonquil);
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}

.auth input[type='submit']:hover{
  background-color: var(--lighten-jonquil);
}

.auth p{
  color: #FFF;
  cursor: default;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.login{
  display: flex;
  justify-content: center;
  width: 45rem;
  height: 35rem;
}

.register{
  width: 70rem;
  height: 42rem;
}

.register input[type='submit']{
  width: 30rem;
}

.register-fields{
  display: grid;
  grid-template-columns: 50% 50%;
}

#auth-options{
  text-align: center; 
}

#toggle-auth{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--maximum-red);
  color: white;
  border: none;
  box-shadow: 1px 1px 1px black;
  margin-top: 2rem;
  cursor: pointer;
}
#toggle-auth:hover{
  padding: 1.2rem 2.2rem 1.2rem 2.2rem;
  transition: padding .1s;
}

/* Perfil */

.perfil-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.perfil-layout{
  border: 1px solid black;
  background-color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 70rem;
  height: 50rem;
  padding: 5rem;
  float: left;
  text-align: center;
}

.perfil-layout h3{
  font-size: 3rem;
  text-decoration: underline;
}

.perfil-opciones{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.perfil-info div{
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: .1px solid grey;
  text-align: left;
}

.perfil-info--movimiento div{
  grid-template-columns: 30% 43% 27%;
}

.perfil-info p{
  font-size: 1.5rem;
}
.perfil-info .boton-perfil{
  width: 5rem;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  padding: .3rem;
}
.perfil-info .boton-perfil:hover{
  box-shadow: 1px 1px 1px black inset;
}


.perfil-layout span{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1rem;
}

.boton-historial-compra{
  font-size: 1rem;
  font-weight: bold;
}

.boton-historial-venta{
  font-size: 1.2rem;
  font-weight: bold;
}
.form-cambio-password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-cambio-password input{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Historial */

.historial{
  display: flex;
  flex-wrap: wrap;
}

.boleta{
  background-color: white;
  box-shadow: .1px .1px 3px black;
  border-bottom-right-radius: 30px;
  padding: 2rem;
  width: 55rem;
  margin: 3rem;
}

.boleta-cabecera{
  display: flex;
  align-items: center;
}

.boleta-cabecera h3{
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

.boleta-cabecera h3:hover{
  color: var(--blue-green);
}

.boleta-pie{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.boleta-calificacion{
  margin-left: 1rem;
}
.img-calificacion{
  width: 4rem;
}

.boleta-detalle:last-child{
  border-bottom: none;
}

.detalle-container{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  text-align: left;
  border-bottom: 3px solid var(--gris-claro);
}

.detalle-etiqueta{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.detalle-info{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

.detalle-usuario{
  font-weight: normal;
}

.detalle-usuario:hover{
  color: var(--blue-green);
}

.boton--calificar{
  width: 15rem;
  line-height: 5rem;
  height: 6rem;
}

.boton--calificar:visited{
  color: white;
}

.boleta-fecha{
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
}

.boleta-comentario{
  color: gray;
  font-size: 3rem;
  font-family: 'Corinthia', cursive;
}

.perfil-usuario{
  margin: 5rem auto;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  width: 50%;
}

.perfil-usuario h3{
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

.usuario-info-icon{
  width: 5rem;
}

.usuario-info-personal{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  padding-left: 10rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.usuario-info-personal-dato{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.usuario-info-personal-dato p{
  margin-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

.usuario-info-personal-dato-etiqueta{
  font-size: 2rem !important;
  font-weight: bold;
  margin-left: 1.2rem !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.div_carrito{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.3); 
  width: 60%;
  margin: 0 auto;
}

.producto_carrito{
  border-bottom: 3px solid var(--gris-claro);
  display: grid;
  grid-template-columns: 30% 55% 15%;
  align-items: center;
  padding: 5rem;
}

.ui_cantidad{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stock_producto{
  margin-top: 3rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.boton-eliminar-producto{
  width: 10rem;
  height: 6rem;
  line-height: 3rem;
}

.control-cantidad{
  background-color: white;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 10rem;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
}

.control-cantidad input{
  border: none;
  text-align: center;
}

.control-cantidad button{
  background-color: transparent;
  border: none;
  color: var(--maximum-red);
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color .5s;
}
.control-cantidad button:hover{
  background-color: var(--gris-claro);
  transition: background-color .5s;
}
.control-cantidad button:disabled{
  color: gray;
  background-color: none !important;
}

.compra_carrito form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
}

.boton--compra{
  line-height: 4rem;
  height: 6rem;
}

.contenedor-producto{
  background-color: white;
  padding: 5rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.contenedor-producto h3{
  font-size: 3rem;
}
.producto-vendedor{
  display: flex;
  align-items: center;
}
.producto-vendedor-etiqueta{
  margin-right: .5rem;
}

.producto-stock{
  font-size: 2rem;
}

.form-producto{
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  align-items: center;
}

.boton--carrito{
  line-height: 4rem;
  height: 4rem;
  width: 25rem;
}

.boton--producto{
  font-size: 1.3rem;
}

.producto-controles{
  display: flex;
  justify-content: right;
}
.producto-stock{
  margin-right: 4rem;
}

.producto-cabecera{
  display: flex;
  align-items: center;
}

.top-layout{
  padding: 5rem;
  color: white;
}

.top-layout a{
  color: white !important;
  font-size: 3rem;
}

.top-layout p{
  font-size: 3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.top-layout:nth-of-type(1){
  background-color: var(--lighten-maximum-red);
}

.top-layout:nth-of-type(1) .top-item:hover{
  background-color: var(--maximum-red);
}

.top-layout:nth-of-type(2){
  background-color: var(--blue-green);
}
.top-layout:nth-of-type(2) .top-item:hover{
  background-color: var(--blue-sapphire);
}
.top-layout:nth-of-type(3){
  background-color: var(--lighten-jonquil);
}
.top-layout:nth-of-type(3) .top-item:hover{
  background-color: var(--jonquil);
}
.top-item{
  display: grid;
  align-items: center;
  margin: 0 auto;
  grid-template-columns: 60% 40%;
  color: white;
  justify-content: left;
  width: 50%;
}

